.note {
  display: block;
  margin: 4em auto;
  padding: 0 1em 0 2.5em;
  max-width: 500px;
}

@media (max-width: 600px) {
  .note {
    padding: 0 1em;
  }
}

.note-title {
  font-size: 32px;
  line-height: 44px;
  margin: 0;
}

.note-date {
  display: block;
  margin: 0.5em 0;
}

.note-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em 0;
  padding: 1em 0 2em 0;
  border: 1px dashed var(--line);
}

.note-end-title {
  margin: 0.25em 0;
}

.note-end-text {
  margin: 0.25em 0;
  text-align: center;
  max-width: 300px;
}
